
@{
    Layout = "~/Views/Shared/_ModalView.cshtml";
    ViewBag.Title = "Reports Stock";
}

<div class="col-12 col-sm-12 col-md-12">
    <div class="form-horizontal">
        <div class="form-group">
            <a class="btn btn-outline-primary" href="../Reports/LatePayments">Late Period Payments</a>
        </div>
        <div class="form-group">
            <a class="btn btn-outline-primary" href="../Reports/PaidPayments">Payments Paid Per Period</a>
        </div>
        <div class="form-group">
            <a class="btn btn-outline-primary" href="../Reports/UpcomingPayments">Upcoming Payments</a>
        </div>
        <div class="form-group">
            <a class="btn btn-outline-primary" href="../Reports/RefundedPayments">Refunded Payments</a>
        </div>
    </div>
</div>
