
@{
    Layout = "~/Views/Shared/_ModalView.cshtml";
    ViewBag.Title = "Reports Stock";
}

<div class="col-12 col-sm-12 col-md-12">
    <div class="form-horizontal">
        <div class="form-group">
            <a class="btn btn-outline-warning" href="../Reports/ActiveEmployeesReport">Active Employees</a>
        </div>
        <div class="form-group">
            <a class="btn btn-outline-warning" href="../Reports/InactiveEmployeesReport">Inactive employees</a>
        </div>
    </div>
</div>
