
@{
    Layout = "~/Views/Shared/_ModalView.cshtml";
    ViewBag.Title = "Reports Stock";
}

<div class="col-12 col-sm-12 col-md-12">
    <div class="form-horizontal">
        <div class="form-group">
            <a class="btn btn-outline-success" href="../Reports/UnfinishedSales">Unfinished Sales by period</a>
        </div>
        <div class="form-group">
            <a class="btn btn-outline-success" href="../Reports/SalesFinished">Sales Finished by period</a>
        </div>
        <div class="form-group">
            <a class="btn btn-outline-success" href="../Reports/CanceledSales">Canceled Sales by period</a>
        </div>
    </div>
</div>
